<!-- This is a static file -->
<!doctype html>
<html>
<body style="background-color:grey;">

</body>
</html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Lachlan cs50</title>
  <meta name="description" content="Lachlan's work">


  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

 
</head>

<body>
  <div class="jumbotron text-center">
    <h1 style="color:black-size:46px;">Lachlan's cs50 portfolio</h1>
    <p>Lachlan's portfolio of completed work in cs50</p>
</div>
  
<div class = "container">
  <div class = "row">
    <div class = "col-sm-4">
     <img src="https://cdn.glitch.com/22f2df54-90df-4369-ba15-1e433c948e87%2FIMG_E0795%5B1%5D.JPG?v=1617945761243" width="200" height="250">
    </div>
    <div class = "col-sm-4 left">
      Lachlan is a grade 11 student at Our Lady of the Bay in Collingwood,ON. Outside of school Lachlan plays lacrosse and hockey and enjoys spending time outside.
    </div>
  </div>
  <html>
<body>
<h1>Lab Index</h1>
<p><a href="https://github.com/me50/LachlanCraig/branches/yours">Visit Lachlan's Lab Index!</a></p>
</body>
</html>

</div>
  <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Lab I learned the most from</h3>
      <p>This is the lab that helped me grow my skills and confidence the most..</p>
      <p>The Fuction lab was the lab i learned the most from as it is a concept that allows you to repeat instructions, without having the need to type those instructions again and again when they are needed to be executed in the program.</p>
      <script src="https://gist.github.com/LachlanCraig/a92857129e2d612c74a1c6677582fdab.js"></script>
    </div>



    <div class="col-sm-4">
      <h3>Favorite lab</h3>
      <p>This is the lab i enjoyed the most throughout my time in the cs50 course.</p>
      <p>The purpose of this lab was to build a starcase with a specific height typed in by the user.</p>
       <script src="https://gist.github.com/LachlanCraig/3f07f58a25da0327ddc9417dc1a64046.js"></script>
      
   
    </div>
    <div class="col-sm-4">
      <h3>Challenging lab</h3>
      <p>This is the lab that challenged me the most and allowed me to grow my skills.</p>
      <p>In this lab we were tasked to implement a program that encrypts messages using Caesar’s cipher.</p>
        <script src="https://gist.github.com/LachlanCraig/c0a8d1c8c638fe979e91658b72daa587.js"></script>
    </div>
  </div>
</div>
</html>
